<?xml version="1.0"?>
<phpunit 
    colors="true" 
    bootstrap="../php/bootstrap.php"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    stopOnFailure="true"
>
    <testsuite name="TU">
        <directory suffix="Test.php" phpVersion="5.3.3" phpVersionOperator=">=">../php/</directory>
    </testsuite>
    <testsuite name="IT">
        <directory suffix="TestInteg.php" phpVersion="5.3.3" phpVersionOperator=">=">../php/</directory>
    </testsuite>
</phpunit>
